
* { margin: 0; padding: 0; box-sizing: border-box; }
body, html { 
	width: 100%; height: 100%; 
	background-color: #000; 
	overflow: hidden; 
	font-family: 'Segoe UI', Tahoma, sans-serif; 
}

#palco { 
	position: relative; width: 100vw; height: 100vh; 
	display: flex; justify-content: center; align-items: center; 
}

.imagem-camada { 
	position: absolute; max-width: 100%; max-height: 100%; 
	object-fit: contain; top: 50% !important; left: 50% !important; 
	transform: translate(-50%, -50%) !important; z-index: 1; 
}

#caixa-instrucao { 
	position: absolute; bottom: 30px; left: 50%; 
	transform: translateX(280px); width: 320px; 
	background: #fff; border-left: 5px solid #2b579a; 
	border-radius: 2px; box-shadow: 0px 5px 20px rgba(0,0,0,0.6); 
	z-index: 1000; color: #333; display: none; 
}

#conteudo-texto { padding: 20px; min-height: 50px; font-size: 16px; line-height: 1.5; }
.divisor { height: 1px; background: #eee; margin: 0 15px; }
.rodape-caixa { padding: 10px 15px; display: flex; justify-content: space-between; align-items: center; min-height: 50px; }

.btn-ajuda { cursor: pointer; border: none; background: #f0f0f0; padding: 8px 15px; border-radius: 4px; font-size: 11px; font-weight: bold; color: #555; text-transform: uppercase; }
.btn-avancar { cursor: pointer; border: none; background: #28a745; color: #fff; padding: 10px 15px; border-radius: 4px; font-size: 12px; font-weight: bold; width: 100%; text-transform: uppercase; }

#seta-ajuda { position: absolute; z-index: 1001; display: none; width: 30px; height: 40px; pointer-events: none; }
#seta-ajuda::before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 10px; height: 20px; background: red; }
#seta-ajuda::after { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 20px solid red; }

.animar-seta { display: block !important; animation: piscarSeta 0.5s ease-in-out 5; }
@keyframes piscarSeta { 0%, 100% { opacity: 0; transform: translateY(-10px); } 50% { opacity: 1; transform: translateY(0); } }

/* O SEGREDO DO ALINHAMENTO PERFEITO EM F11 */
#camada-interativa { 
	position: absolute; 
	top: 0; bottom: 0; left: 0; right: 0; margin: auto; /* Centraliza a camada */
	width: 100%; height: 100%; 
	max-width: calc(100vh * (16 / 9)); /* Trava a largura na proporção exata da imagem */
	max-height: calc(100vw * (9 / 16)); /* Trava a altura na proporção exata da imagem */
	z-index: 999; 
	pointer-events: none; 
}
/* 1. O botão oficial para o aluno (Transparente) */
#hotspot { 
    position: absolute; 
    cursor: pointer; 
    pointer-events: auto; 
    background: rgba(0,0,0,0); 
}

/* 2. O botão de ajuste para você (Vermelho) */
.modo-edicao {
    background: rgba(255, 0, 0, 0.5) !important; 
    border: 2px solid #fff !important; 
    z-index: 10000 !important;
}
