# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Node.js - Ferramentas de Ofuscação
node_modules/
package-lock.json
package.json
blindar.js
